.tab-content {
	height: 300px;
}
.tab-content .tab-pane {
	border: 1px solid black;
	border-top: 0;
	height: inherit;
}
.tab-content a {
	padding-left: 15px;
	padding-top: 15px;
	display: block;
	text-decoration: underline;
}
.row {
	padding: 10px 15px;
}
.nav>li {
	display: block;
}
.nav-tabs {
	border-bottom: 1px solid black;
}
.nav-tabs>li.active a {
	margin-left: 15px;
	border: 1px solid black !important;
	border-bottom: 0 !important;
}
.nav-tabs>li.active a:hover {
	border: 1px solid black;
	border-bottom: 0;
}
.col-xs-12 {
	text-align: center;	
}
#mail {
	text-align: center;
}
.btn-group button {
	margin: 30px;
}
.modal-dialog {
	background-color: white;
}
table {
	border: 1px solid black;
}
th,
td {
	border-left: 1px solid black;
}
#maildata label {
	padding: 10px;
}
#mail-submit {
	margin: 10px;
}
#register {
	float: right;
}
#namesort,
#datesort{
	float: right;
}
#mailsub {
	float: right;
}
.message {
	float: right;
}