/*
Name: Rental Application

Lato-Black*/
@font-face {
    font-family: 'Lato-Black';
    src: url('fonts/lato-black/Lato-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/lato-black/Lato-Black.woff') format('woff'),
    url('fonts/lato-black/Lato-Black.ttf')  format('truetype'),
    url('fonts/lato-black/Lato-Black.svg#Lato-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*Lato-Bold*/
@font-face {
    font-family: 'Lato-Bold';
    src: url('fonts/lato-bold/Lato-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/lato-bold/Lato-Bold.woff') format('woff'),
    url('fonts/lato-bold/Lato-Bold.ttf')  format('truetype'),
    url('fonts/lato-bold/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*Lato-Regular*/

@font-face {
    font-family: 'Lato-Regular';
    src: url('fonts/lato-regular/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/lato-regular/Lato-Regular.woff') format('woff'),
    url('fonts/lato-regular/Lato-Regular.ttf')  format('truetype'),
    url('fonts/lato-regular/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*Lato-Italic*/

@font-face {
    font-family: 'Lato-Italic';
    src: url('fonts/lato-italic/Lato-Italic.eot?#iefix') format('embedded-opentype'),
    url('fonts/lato-italic/Lato-Italic.woff') format('woff'),
    url('fonts/lato-italic/Lato-Italic.ttf')  format('truetype'),
    url('fonts/lato-italic/Lato-Italic.svg#Lato-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #f7f7f7 !important;
}
input,
button {
    font-family: 'Lato-Italic' !important;
}
label {
    font-family: 'Lato-Bold';
    text-transform: uppercase;
    color: #8998a3;
}
.nav>li>a {
    padding-left: 0!important;
}
h3 {
    font-family: 'Lato-Regular';
}
#navbar {
    margin:0;
    padding: 0 20px;
    background-color: #202d36;
}
#navbarCollapse {
    padding-top: 5px;
    float: right;
}
.logo {
    float: left;
}
#logo_block {
    padding: 10px 0 10px 0;
    padding-bottom: 0;
    float: left;
    border-right: 1px solid #2e3c45;
}
.logo-sign {
    display: inline-block;
    border-right:1px solid #2e3c45;
    padding: 10px 20px;
    padding-right: 5px;
}
.icon-bar {
    background-color: white;
}
.signature {
    font-family: 'Lato-Black';
    text-transform: uppercase;
    float: left;
    font-size: 26px;
    color: #4a555d;
    margin: 0 8px;
    padding-top: 7px;
}
#phone_block {
    padding:20px 30px;
    float: left;
}
.small-signature {
    font-family: 'Lato-Bold';
    font-size: 11px;
    color: white;
    background-color: #11c4a4;
    margin:0 8px;
    vertical-align: super;
}
.custom-color,
#foo_custom_color {
    font-family: 'Lato-Black';
    color: #11c4a4;
}
.contact {
    display: inline-block;
    padding: 10px 15px;
    color: #000;
    font-size: 14px;
}
.phone {
    float: left;
}
.number {
    font-family: 'Lato-Regular';
    color: white;
    float: left;
    padding:0px 10px;
    margin:0;
}
#profile-settings {
    padding: 10px 0 0 16px;
}
#profile-settings li a {
    padding-top: 5px;
}
.avatar {
    float: left;
    padding: 0 20px;
}
#dropdown-link {
    color: #687883;
    cursor: pointer;
    padding: 0 30px 10px 0 ;
}
#dropdown-link:hover{
    background-color: transparent;
}

.caret {
    vertical-align: bottom !important;
    border-top: 4px solid #11c4a4 !important;
    padding-bottom: 7px;
    margin-left: 5px !important;
}
#post {
    color: white;
    float: right;
    padding-right: 20px;
    padding-top: 5px;
}
#post:hover {
    text-decoration: none;
    background-color: transparent;
}
#utilits_list {
    border-right:1px solid #2e3c45;
    padding-right: 10px;
}
#utilits_list li {
    padding:0 10px;
}
#utilits_list li a:hover {
    background-color: #4d616e;
}
#utility {
    color: white;
    padding-left: 10px!important;
}
.breadcrumb {
    padding-left: 0 !important;
}
.breadcrumb li {
    font-family: 'Lato-Bold';
}
.breadcrumb a {
    color: #8998a3;
    font-size: 8px;
    text-transform: uppercase;
}
.breadcrumb>li+li:before {
    content: "" !important;
    width: 0;
    height: 0;
    border-left: 6px solid #a4b4bf;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    font-size: 1px;
    vertical-align: middle;
}
#content_area {
    margin-bottom: 20px;
}
#rental_form {
    box-shadow: 0 0 2px rgba(0,0,0,1);
}
#page_name {
    font-family: 'Lato-Regular';
}
#content_header {
    padding: 10px 15px !important; ;
}
#content {
    padding:10px 30px;
    background-color: white;
}
.form-group label {
    font-family: 'Lato-Bold';

}
#firstName,
#lastName {
    padding:20px;
}
#day,
#month,
#year {
    padding:10px 20px;
}
#form-subject {
    font-family: 'Lato-Bold';
    text-transform: capitalize;
}
#day_caret,
#month_caret,
#year_caret {
    margin: 0 10px;
}
#secondary_first_name,
#secondary_last_name,
#gross {
    padding:20px;
}
#gross_btn {
    padding:10px;
}
.btn-block {
    text-align: left !important;
}
.btn-block .caret {
    float: right;
}
#address {
    padding:20px;
}
#movingReason {
    min-height:100px;
}
#jobAddress {
    padding:20px;
}
#employerAddress {
    padding:20px;
}
#submitBtn {
    float: right;
    margin:15px 0;
}
#formSubmit {
    padding: 5px 20px;
    border-radius: 15px;
}
#footer {
    background-color: #4d616e;
    padding:0 10px;
}
#footer_title {
    font-family: 'Lato-Bold';
    font-size:11px;
    text-transform: uppercase;
    color: #a4b4bf;
    margin-top: 25px;
}
#footer_content {
    font-family: 'Lato-Regular';
    color: #d9dcde;
}
#footer_links {
    background-color: #202d36;
    padding:0 10px;
}
#foo_link {
    color: white;
    padding-right: 20px !important
}
#foo_links_list li a:hover {
    background-color: #4d616e !important;
}
#copyrights {
    color: #a4b4bf;
    float: left;
}
#foo_social_link {
    float: right;
    padding: 20px 0;
}
#foo_info p {
    text-align: center;
}